agent-back/src/main/resources/soap.xsd

<?xml version="1.0"  encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ftn.com/agentSoap/xsd"
           targetNamespace="http://ftn.com/agentSoap/xsd" elementFormDefault="qualified">

    <xs:element name="getTestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>